<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>護理控台系統</title>
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        

          
        <script language="JavaScript"> 
            function Do_Query(f_str) { 

                    document.forms["NST"].submit(); 
                
            } 
        </script>  


<div id="header">
            
    <div id="logo" >
        <h1><span>護理控台</span></h1>
        <h2>當前護理站:<%=changeselect%></h2>
      
        <ul id="member">
            <li class="memberName" id="WD_name">病房主任：XXX</li>
            <li class="memberName" id="HN_name">護理長：OOO</li>
            <li class="memberName" id='user'>當前使用者:<%=user%></li>
        </ul>
    </div>
</div>
            <nav id="menu">
                <div  >
                    <div>
                        <ul class="nav nav-tabs drop-down-menu">
                            <li><a href="/" accesskey="1" title="">首頁</a></li>
                            <li><a href="#" accesskey="1" title="">公告訊息</a>
                                <ul>
                                    <li><a href="/messagelist" accesskey="1.1" title="">護理站訊息編輯</a></li>
                                    <li><a href="/remindlist" accesskey="1.2" title="">溫馨提醒編輯</a></li>
                                </ul>
                            </li>
                     
                            <li><a href="/contact" accesskey="2" title="">聯絡資訊</a></li>
                            <li><a href="/exitmap" accesskey="3" title="">逃生資訊</a></li>
                            <li><a href="/shift" accesskey="4" title="">護理排班</a></li>
                            <li><a href="/spshift" accesskey="5" title=""> 專師排班</a></li>
                            <li class="logout"><a href="/logout" accesskey="" title="">登出</a></li>
                            <li class="changpwd"><a href="/changepwd" accesskey="" title="">變更密碼</a></li>
                        </ul>
                    </div>
                    
                </div>
                
            </nav>
            <div style="width:300px;height:20px;margin-left:10%;margin-right:10%;margin-top: 3%;">
                

                <form name="savePD" method="POST" style="width:1000px;overflow:auto"  action="/savePD"> 
                    <div>
                    <table style="width:1000px;overflow:auto" id="PD">
                        <caption style="font-family:DFKai-sb;margin-right:5px; font-size:25px;">病患資訊編輯</caption>
                            <tr>
                                <th>姓名</th>
                                <th>床號</th>
                                <th>護理師姓名</th>
                                <th>專師姓名</th>
                            </tr>
                            <tr>
                                <td><%=PName%></td>
                                <td name="BNo"><%=BNo%></td>
                                <td name="MN"><%=MN%></td>
                                <td name="CNS"><%=CNS%></td> 
                            </tr>
                    </table>
                    <ul style="font-size: 20px;">注意事項</ul>
                    <input type="hidden" name="PNo" value="<%=PNo%>" />
                   
                      
                        
                    
                            <label class="checkbox-inline">
                            <input type="checkbox" name="TABOO"  value="<%=TABOO_01%>"<%=checked[0]%>>左手禁治療
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO" value="<%=TABOO_02%>" <%=checked[1]%>> 右手禁治療
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO" value="<%=TABOO_03%>" <%=checked[2]%>> 左腳禁治療
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO"  value="<%=TABOO_04%>"<%=checked[3]%>>右腳禁治療
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO" value="<%=TABOO_05%>" <%=checked[4]%>> 禁止飲食
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO" value="<%=TABOO_06%>" <%=checked[5]%>>禁止喝水
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO"  value="<%=TABOO_07%>" <%=checked[6]%>>藥物過敏
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO" value="<%=TABOO_08%>" <%=checked[7]%>>食物過敏
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO" value="<%=TABOO_09%>" <%=checked[8]%>>小心跌倒
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO"  value="<%=TABOO_10%>" <%=checked[9]%>>注意洗手
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO" value="<%=TABOO_11%>" <%=checked[10]%>>禁止下床
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="TABOO"  value="<%=TABOO_12%>" <%=checked[11]%>>拒絕急救
                            </label>
                         
                            
                   
                        <input type="submit" value="儲存"  />
                    </div>
                            
               
                
            </form>


            <form name="saveDNR" method="POST" style="width:1000px;overflow:auto"  action="/saveDNR"> 
                <div>
               
                <ul style="font-size: 20px;">病床指標</ul>
                <input type="hidden" name="PNo" value="<%=PNo%>" />
                
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR"  value="<%=BIdx_01%>" <%=checked[12]%>>DNR
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR" value="<%=BIdx_02%>" <%=checked[13]%>> 生訊
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR" value="<%=BIdx_03%>" <%=checked[14]%>> 檢查
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR"  value="<%=BIdx_04%>" <%=checked[15]%>>手術
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR" value="<%=BIdx_05%>" <%=checked[16]%>> 洗腎
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR" value="<%=BIdx_06%>" <%=checked[17]%>> 隔離
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR"  value="<%=BIdx_07%>" <%=checked[18]%>>心導管
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR" value="<%=BIdx_08%>" <%=checked[19]%>> 呼吸器
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR" value="<%=BIdx_09%>" <%=checked[20]%>> 限制訪客
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="DNR"  value="<%=BIdx_10%>" <%=checked[21]%>>母嬰同室
                        </label>
            
                        
               
                    <input type="submit" value="儲存" >"/>
                </div>
                        
           
            
             </form>
        
            </div>        
    </body>
            

    </html>