<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>護理控台系統</title>
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      </head>
      <body>
        

          
        <script language="JavaScript"> 
            function Do_Query(f_str) { 

                    document.forms["NST"].submit(); 
                
        } 
        </script> 
             


        <div id="header">
            
            <div id="logo" >
                <h1><span>護理控台</span></h1>
                <h2><form class="NST" method="POST" action="changeNST" name="NST" >
                    
                    <select id="NSTdata"name="NSTdata" method="post" onChange=Do_Query(this.value)>

                      <option  name="changeselect" value="" selected>當前護理站:<%=changeselect%></option>
                    　<option value="9">9號護理站</option>
                    　<option value="10">10號護理站</option>
                    　<option value="11">11號護理站</option>
                    　<option value="12">12號護理站</option>
                    　<option value="13">13號護理站</option>
                    　<option value="14">14號護理站</option>
                    　<option value="15">15號護理站</option>
                    　<option value="16">16號護理站</option>
                    </select>
                    </form>
                </h2>
                <ul id="member">
                    <li class="memberName" id="WD_name">病房主任：XXX</li>
                    <li class="memberName" id="HN_name">護理長：OOO</li>
                    <li class="memberName" id='user'>當前使用者:<%=user%></li>
                </ul>
            </div>
        </div>
            <nav id="menu">
                <div  >
                    <div>
                        <ul class="nav nav-tabs drop-down-menu">
                            <li><a href="/" accesskey="1" title="">首頁</a></li>
                            <li><a href="#" accesskey="1" title="">公告訊息</a>
                                <ul>
                                    <li><a href="/messagelist" accesskey="1.1" title="">護理站訊息編輯</a></li>
                                    <li><a href="/remind" accesskey="1.2" title="">溫馨提醒編輯</a></li>
                                </ul>
                            </li>
             
                            <li><a href="/cotact" accesskey="2" title="">聯絡資訊</a></li>
                            <li><a href="/exitmap" accesskey="3" title="">逃生資訊</a></li>
                            <li><a href="/shift" accesskey="4" title="">護理排班</a></li>
                            <li><a href="/spshift" accesskey="5" title="">專師排班</a></li>
                            <li><a href="/NSTedit" accesskey="5" title=""> 護理站編輯</a></li>
                            <li class="logout"><a href="/logout" accesskey="" title="">登出</a></li>
                            
                            <li class="changpwd"><a href="/changepwd" accesskey="" title="">變更密碼</a></li>
                        </ul>
                    </div>
                    
                </div>
            </nav>
                <div></div>
                <div class ="Care_Message">
                    <ul>
                        <li>需求通報訊息紀錄</li>
                    </ul>

                    <div class = "logbar">
                        <% for ( var i = 0 ; i < requestlog.length ; i++){ %>
                            <div class="patientData">
                            <span class="BedNO"><%=requestlog[i].BNo%></span>
                            <span class="log">呼叫時間<%=requestlog[i].CallTime%></span>
                            <span class="demand1_<%=requestlog[i].callRequest%>">換點滴</span>
                            <span class="demand2_<%=requestlog[i].callRequest%>">下床陪同</span>
                            <span class="demand3_<%=requestlog[i].callRequest%>">緊急呼叫</span>
                            </div>
                            <% } %>
                        <div class="patientData">
                            <span class="BedNO">床號123</span>
                            <span class="log">請求時間</span>
                            <span class="demand1_0">換點滴</span>
                            <span class="demand2_1">下床陪同</span>
                            <span class="demand3_0">緊急呼叫</span>
                        </div>
                        <div class="patientData">
                            <span class="BedNO">床號123</span>
                            <span class="log">請求時間</span>
                            <span class="demand1_0">換點滴</span>
                            <span class="demand2_1">下床陪同</span>
                            <span class="demand3_1">緊急呼叫</span>
                        </div>
                        <div class="patientData">
                            <span class="BedNO">床號123</span>
                            <span class="log">請求時間</span>
                            <span class="demand1_0">換點滴</span>
                            <span class="demand2_1">下床陪同</span>
                            <span class="demand3_1">緊急呼叫</span>
                        </div>
                    </div>
                </div>
                
                <form name="shift" method="POST" action="/saveSPshift">
                <table  class="PD">
                    <tr>
                        <th>床號</th>
                        <th>病患</th>
                        <th>護理師</th>
                        <th>專師</th>
                   
                    </tr>
                    <% for ( var i = 0 ; i < data.length ; i++){ %>
                        <tr>
                            <td>
                                <div class="form-check">
                              
                                <input class="form-check-input" type="checkbox" name="shift" id="<%=data[i].BNo%>" name="patientData"  value="<%= data[i].PNo%>" >
                                <label for="<%=data[i].BNo%>">
                                    <%= data[i].BNo  %> 
                                </label>
                                </input>
        
                                </div>
                            </td>
                           
                            <td>
                                <%= data[i].PName  %>
                            </td>
                            <td>
                                <%= data[i].MN  %>
                            </td>
                            <td><%= data[i].CNS  %></td>
                        </tr>
                        <% } %>
                     
                    </table>
                    <table class="ND">
                        <tr>
      
                            <th>員編</th>
                            <th>專師</th>
                       
                        </tr>
                        <% for ( var i = 0 ; i < SPdata.length ; i++){ %>
                            <tr>
                                <td>
                                
                                <input type="radio" name="SPdata"  id="<%= SPdata[i].EENo%>" value="<%= SPdata[i].EENo%>" >
                                <label for="<%= SPdata[i].EENo%>">
                                    <%= SPdata[i].EENo%>
                                </label>
                                </input>
                                </td>
                                
                                <td>
                                    <%= SPdata[i].EEName  %>
                                </td>
                               
                            </tr>
                            <% } %>
                         
                        </table>
                    <input type="submit" value="儲存" >
                </form>
                <form style="margin-left:10px ;" action="resetspshift" method="POST">
                    <input type="submit" value="重新排班" >
                    </form>
        
      
             
                
      
        
               
            </body>
            

</html>